@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* top */
.top {
    position: fixed;
	margin:0 auto;
    width: 100%;
	height:146px;
	background-color:#fff;
	border-bottom:2px solid #eee; 
	z-index:99;
}
.tp1 {
	position:relative;
	margin:0 auto;
    width: 100%;
	height:auto;
	background-color:#fafafa;
}
.tp2 {
	position:relative;
	margin:0 auto;
    width: 1200px;
	height:32px;
}
.wel {
	position: absolute;
	margin:0 auto;
	width: 300px;
	float:left;
	text-align:left;
	color: #8a8a8a;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.email {
	position: absolute;
	margin:0 auto 0 1003px;
	width: 200px;
	float:left;
	text-align:right;
	color: #0d8eeb;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.topmenu {
	position:relative;
	margin:0 auto;
    width: 1200px;
	height:112px;
}
.logo {
	position: absolute;
	margin:15px auto;
	width:85px;
	height:62px;
	float:left;
	color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;;
	}

.menu {
	position: absolute;
	margin:0 auto 0 100px;
	width: 1100px;
	height:auto;
	float:right;
	color: #C1BFB5;
	font-size:16px;
    font-weight: 600;
	line-height:150px;
    font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
.menu a{ text-decoration:none;color:#535353;font-size:15px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;} 
.menu a:hover { text-decoration:none;color:#C1BFB5;font-size:15px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;border-bottom:1px solid #C1BFB5;}
.ban {
    position: relative;
	margin:0 auto;
    width: 100%;
	height:148px;
}

.listr {
	position:relative;
	margin:0 auto;
	width:100%;
	height:140px;
	background-color:#11385d;
	text-align:center;
}
.listitle {
	position: relative;
    margin: 0 auto;
    overflow: hidden;
	width: 1200px;
	height: 140px;
	text-align: left;
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	line-height: 140px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}



.con1 {
	position: relative;
	margin:0 auto;
	width: 100%;
	height:auto;
	text-align: center;
}
.con2 {
	position: relative;
    margin:0 auto;
    overflow: hidden;
	width:1000px;
	height:auto;
	text-align: center;
}
.contline {
	position: relative;
    margin:0 auto;
    overflow: hidden;
	width:1000px;
	height:2px;
	background-color:#158e76;
}
.list{
	position: relative;
    width:300px;
	height:auto;
	float:left; 
	list-style: none; 
}
.conta1 {
	position: relative;
	margin:30px auto 0 auto;
	width:200px;
	height:56px;
	background-color:#158e76;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 56px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.conta2 {
	position: relative;
	margin:30px auto 0 auto;
	width:200px;
	height:56px;
	background-color:#f6f6f6;
	text-align: center;
	color: #9f9f9f;
	font-size: 16px;
	font-weight: 600;
	line-height: 56px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.conta2 a{ text-decoration:none;color:#9f9f9f;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:600;} 
.conta2 a:hover { text-decoration:none;color:#158e76;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:600;}

.contb1 {
	position: relative;
	margin:30px auto 0 15px;
	width:200px;
	height:56px;
	background-color:#158e76;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 56px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.contb2 {
	position: relative;
	margin:30px auto 0 15px;
	width:200px;
	height:56px;
	background-color:#f6f6f6;
	text-align: center;
	color: #9f9f9f;
	font-size: 16px;
	font-weight: 600;
	line-height: 56px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.contb2 a{ text-decoration:none;color:#9f9f9f;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:600;} 
.contb2 a:hover { text-decoration:none;color:#158e76;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:600;}

.contitle {
	position: relative;
	margin:0 auto 15px auto;
	width:1000px;
	height:auto;
	text-align: left;
	color: #158e76;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.contitle a{ text-decoration:none;color:#333;font-size:20px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;} 
.contitle a:hover { text-decoration:none;color:#158e76;font-size:20px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;border-bottom:1px solid #158e76;}
.contime {
	position: relative;
	margin:20px auto;
	width:1000px;
	height:auto;
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.content1 {
	position: relative;
	margin:30px auto;
	width:1000px;
	height:auto;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.content2 {
	position: relative;
	margin:30px auto;
	width:330px;
	height:auto;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.content a{ text-decoration:none;color:#3d52b8;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;} 
.content a:hover { text-decoration:none;color:#9c0d69;font-size:16px;font-family:'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-weight:400;border-bottom:1px solid #9c0d69;}
.contentl {
	position: relative;
    margin:30px auto;
    overflow: hidden;
	width:1000px;
	height:2px;
	background-color:#e5e5e5;
}
.contw {
	position: relative;
    margin:30px auto 0 auto;
    overflow: hidden;
	width: 1000px;
	height:auto;
}




.bottom {
	text-align:center;
	height:50px;
	color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
	line-height:50px;
    font-family: 'Montserrat',"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
